html,body,div{margin:0; padding:0}
body{background-color:#fff; font-family:Helvetica,Arial,sans-serif; color:#555}
#wrapper{width:700px; margin:0 auto; padding:3em 1em 4em}
strong,dt{color:#333}
h1,h2,h3,h4,h5{color:#0AB}
h1{font-size:3.8em; margin:0}
h2{font-size:1.2em; font-style:italic;color:#333; font-weight:normal; font-family:"Times New Roman",times,serif; margin:0 0 1.5em}
h3{font-size:1.8em; border-bottom:2px solid #e2e2e2; margin:2em 0 1em}
a{color:#0AB}
a:hover{color:#fff; background-color:#0AB; text-decoration:none}
p{line-height:1.5em}
#content{font-size:.9em}
#intro{font-size:1.2em; margin-top:3em}
.download{float:right}
.download a{background-color:#ddd}
.download a:hover{background-color:#0AB}
.colHolder{overflow:hidden}
.colHolder_2 .col{width:50%}
.col{float:left}
li{margin:.5em 0}
ul{padding-left:2em}
dl{margin:0.5em 0}
dd{margin:0.3em 1em}
small{color:#888}
small a{color:#888}
pre{background:#eee; color:#444; border:1px solid #ccc; padding:15px}
code{font-weight:bold; font-size:1.2em}
